# frozen_string_literal: true

require 'rails_helper'

<% module_namespacing do -%>
RSpec.describe <%= class_name %>Experiment do
  pending "add some examples to (or delete) #{__FILE__}"
end
<% end -%>
